
$base-font: 'SourceSans Regular', sans-serif;
$bold-font: 'SourceSans Bold', sans-serif;
$light-font: 'SourceSans Light', sans-serif;

$h-padding : 1.5em;


$black: #000;
$grey: #696969;
$white: #fff;

$primary-color:#D8E0DC;
$secondary-color:#A8B5AF;
$alternative-color:#93A29B;

$error-color: #d9534f;
$success-color: #8fbc8f;
$warning-color: #bc8f8f;
$info-color: darken($white, 10%);