
$base-font: 'SourceSans Regular', sans-serif;
$bold-font: 'SourceSans Bold', sans-serif;
$light-font: 'SourceSans Light', sans-serif;

$h-padding : 1.5em;


$black: #000;
$grey: #696969;
$white: #fff;
$off-white: #f1f1f1;

$primary-color:#82abd8;
$secondary-color:#465565;
$alternative-color:#93A29B;

$border-color: $secondary-color;
$button-color: $off-white;

$error-color: #d9534f;
$success-color: #8fbc8f;
$warning-color: #bc8f8f;
$info-color: darken($white, 10%);